<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="plugins" type="System.Configuration.AppSettingsSection"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <plugins>
    <add key="../../../Loggers/bin/Debug"/>
    <add key="../../../Serializers/bin/Debug"/>
    <add key="../../../WPFFileLoader/bin/Debug/"/>
  </plugins>
</configuration>